<!DOCTYPE html>
<html>
  <head>
    <title>KAPPY News</title>
    <style>
      body {
        background-color: #F5F5DC
      }
      
      .container {
        max-width: 600px;
        margin: 0 auto;
       <p> text-align: center;<p>      }
    </style>
  </head>
  <body>
    <div class="container">
      <p> <h1>Dia Internacional das Mulheres</h1> <p>
      <p>Texto da notícia aqui</p>
      <img src="caminho/para/imagem.jpg">
    </p>
  </body>
</html>
